<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tgcenter.demo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".ModooPlayApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ads.NetworkAdActivity" />

        <activity
            android:name=".ads.adtype.AdTypeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ads.adtype.BannerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ads.adtype.InterstitialActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ads.adtype.RewardedVideoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ads.adtype.FeedListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ads.adtype.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <activity
            android:name=".ads.adtype.MixViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ads.adtype.MixFullScreenActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".anti_addiction.AntiAddictionActivity" />

        <activity
            android:name=".anti_addiction.CustomRealNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anti_addiction.CustomTimeLimitActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity android:name=".richox.RichOXMainActivity"/>

        <activity android:name=".richox.activity.RichOXH5Activity" />

        <activity android:name=".richox.activity.RichOXH5FloatActivity" />

        <activity android:name=".richox.activity.RichOXH5DialogActivity" />

        <activity android:name=".richox.activity.RichOXH5NativeActivity" />

        <activity android:name=".richox.activity.RichOXH5EntryActivity" />

        <activity android:name=".richox.activity.RichOXCommonActivity" />

        <activity android:name=".richox.activity.RichOXCommonUserActivity" />

        <activity android:name=".richox.activity.RichOXCommonTaskActivity" />

        <activity android:name=".richox.activity.RichOXCommonDataActivity" />

        <activity android:name=".richox.activity.RichOXCommonWithdrawActivity" />

        <activity android:name=".richox.activity.RichOXStrategyFissionActivity" />

        <activity android:name=".richox.activity.RichOXStageStrategyActivity" />

        <activity android:name=".richox.activity.RichOXNormalStrategyActivity" />

        <activity android:name=".richox.activity.RichOXShareActivity" />

        <activity android:name=".richox.activity.RichOXSectActivity" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="com.we.modoo.core.WXEntryActivity" />

        <meta-data
            android:name="com.openinstall.APP_KEY"
            android:value="qqmerp" />

    </application>
</manifest>